<%- include("partials/header.ejs") %>

<form action="/submitEdit/<%= post["id"]%>" method="POST" id="edit-post-form">
   <h1 class="edit">
        <input 
            type="text" 
            name="title" 
            value="<%= post.title %>" 
            maxlength="50"
            class="title-input"
            required
            oninput="validate(this)"
        >
    </h1>
    <fieldset class="time-container">
        <small class="full-post-time">Chirped: <%= new Date(post["timeStamp"]).toLocaleString() %></small>
    </fieldset>

    <fieldset class="content-container edit">
        <textarea name="content" class="content-input" required oninput="validate(this)"><%= post["content"]%></textarea>
    </fieldset>

    <div class="confirm-button-container">
        <button type="submit" class="edit">Confirm</button>  
    </div>
</form>
<%- include("partials/footer.ejs") %>