<%- include("partials/header.ejs") %>
<h1>Welcome to Ki:we</h1>

<h2>Your Ki:mi</h2>
<section id="overview">
    <div id="bio-container">
        <img src="pictures/anonkiwi.jpg" alt="Anon profile picture" class="profile-picture-main bio-child">
        <h3 class="bio-child">Anon Ki:mi</h3>
        <p class="bio-child">bio</p>
        <button class="bio-child">Edit</button>
        <button class="bio-child">Share</button>
        <hr class="bio-child">
    </div>
    <div id="new-post">
        <a href="newPost" class="icon-link">
            <span class="material-symbols-outlined">egg</span>
            <span class="link-text">New Post</span>
        </a>
    </div>
    <div id="other-links">
        <div class="overview-link">
            <a href="">Liked</a>
        </div>
        <div class="overview-link">
            <a href="">Ki:peeps</a>
        </div>
        <div class="overview-link">
            <input type="search" id="site-search" name="q" placeholder="Search" />
        </div>
    </div>
</section>


<section id="posts">
    <h2>Your nest</h2>
    <h3>Trending tags</h3>
    <div class="nest-posts">
        <% if(locals.availablePosts) {%> 
            <% availablePosts.forEach((post) => {%>
                <a href="post<%= availablePosts.indexOf(post)%>">
                    <div class="post-block">
                        <h4><%= post["title"]%></h4>
                        <p><%= post["content"]%></p>
                        <small> Chirped: <%= new Date(post["timeStamp"]).toLocaleString()%></small>
                        <div class="post-buttons">
                            <button>Edit</button>
                            <form action="/delete-post" method="POST">
                                <input type="hidden" name="postIndex" value="<%= availablePosts.indexOf(post)%>">
                                <button type="submit">Delete</button>
                            </form>
                            <button>Share</button>
                        </div>
                    </div>
                </a>
            <%}); %>
        <% } else { %>
            <p>Nothing to see here. Have you tried looking for worms?</p>
        <% } %>
    </div>
</section>


<%- include("partials/footer.ejs") %>

