<%- include("partials/header.ejs") %>
<h1>Welcome to Ki:we</h1>

<h2>Your Ki:mi</h2>
<section id="overview">
    <div id="bio-container">
        <h3>Anon Ki:mi</h3>
        <img src="pictures/anonkiwi.jpg" alt="Anon profile picture" class="profile-picture-main">
    </div>
    <div id="new-post">
        <a href="newPost" class="icon-link">
            <span class="material-symbols-outlined">egg</span>
            <span class="link-text">New Post</span>
        </a>
    </div>
    <div>
        <div class="overview-link">
            <a href="">Liked</a>
        </div>
        <div class="overview-link">
            <a href="">Ki:peeps</a>
        </div>
        <div class="overview-link">
            <a href="">Search</a>
        </div>
    </div>
</section>


<section id="posts">
    <h2>Your nest</h2>
    <h3>Trending tags</h3>
    <div class="nest-posts">
        <% if(locals.availablePosts) {%> 
            <% availablePosts.forEach((post) => {%>
                <div class="post-block">
                    <h4><%= post["title"]%></h4>
                    <p><%= post["content"]%></p>
                    <small> Chirped: <%= new Date(post["timeStamp"]).toLocaleString()%></small>
                </div>
            <%}); %>
        <% } else { %>
            <p>Nothing to see here. Have you tried looking for worms?</p>
        <% } %>
    </div>
</section>


<%- include("partials/footer.ejs") %>

